<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create planner</title>
</head>
<body>

<form  method="POST" action="create/planner">
  <div class="form-group">
      <label>Description </label>
      <textarea id="pland" name="plandesc" ></textarea>
    <label>Planner name</label>
    <input id="plann" name="planname"   />
  </div>
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>