.example-form {
  min-width: 150px;
  max-width: 380px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-right: 5px;
}
button{
  float: right;
}

.colorClass{
  color:yellow;
}